{
  "trailingComma": "all",
  "singleQuote": true,
  "singleAttributePerLine": true,
  "proseWrap": "always",
  "printWidth": 96,
  "parser": "babel-ts",
  "endOfLine": "crlf",
  "arrowParens": "avoid"
}