$breakpoint-small: 450px;
$breakpoint-med: 900px;
$inverse-background: #222;
$inverse-text: #f0f0f0;

:root {
  --font-size: 1.2rem;
  --font-size-1: 1rem;
  --font-size-2: 1.2rem;
  --font-size-3: 1.44rem;
  --font-size-4: 1.728rem;
  --font-size-5: 2.074rem;
  --font-size-6: 2.488rem;

  --background-color: #fff;
  --text-color: #222;

  --container-display: block;
  --card-figure-display: none;
  --title-font-size: 1.2rem;
  --card-background: #f0f0f0;
}

@media screen and (min-width: 800px) {
  :root {
    --font-size: 1.25rem;
    --font-size-1: 1rem;
    --font-size-2: 1.333rem;
    --font-size-3: 1.777rem;
    --font-size-4: 2.369rem;
    --font-size-5: 3.157rem;
    --font-size-6: 4.209rem;
  }
}

aside {
  --font-size: 1rem;
  --background-color: #222;
  --text-color: #fafafa;
}

main,
aside {
  font-size: var(--font-size);
  color: var(--text-color);
  background-color: var(--background-color);
}

@media screen and (min-width: $breakpoint-small) {
  :root {
    --card-figure-display: inline-block;
    --title-font-size: 1.75rem;
  }
}

@media screen and (min-width: $breakpoint-med) {
  :root {
    --container-display: flex;
    --title-font-size: 2rem;
  }
}

.card-b,
.card-d {
  --card-background: #{$inverse-background};
  --card-text-color: #{$inverse-text};
}

@media screen and (min-width: $breakpoint-med) {
  .card-b,
  .card-d {
    --card-background: inherit;
    --card-text-color: inherit;
  }
  .card-a,
  .card-d {
    --card-background: #{$inverse-background};
    --card-text-color: #{$inverse-text};
  }
}
